<?xml version="1.0" ?>
<model>
    <name>Tag Aruco</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Yanis Mazouz</name>
        <email>yanis.mazouz.ros@yanis.33mail.com</email>
    </author>
    <description>A model for the aruco tag number 5, the image in meshes can be changed for other tags</description>
</model>
