<?xml version="1.0"?>
<robot name="krabby_campi"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="cameraSize" value="0.05"/>
  <xacro:property name="cameraMass" value="0.1"/>

  <xacro:include filename="$(find krabby_description)/urdf/krabby_campi.gazebo"/>
  <xacro:include filename="$(find krabby_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find krabby_description)/urdf/macros.xacro"/>

  <link name="camera_campi_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
      <material name="blue"/>
    </visual>

    <inertial>
      <mass value="${cameraMass}" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <xacro:box_inertia m="${cameraMass}" x="${cameraSize}" y="${cameraSize}" z="${cameraSize}" />
    </inertial>
  </link>

  <link name="world" />

  <joint name="world_to_base_link=" type="fixed">
    <parent link="world"/>
    <child link="base_link_campi"/>
  </joint>

  <link name="base_link_campi" />

  <joint name="base_link_to_camera" type="fixed">
    <origin xyz="0.1 0.7 1" rpy="0 ${3*PI/8} ${-PI/2}"/>
    <parent link="base_link_campi"/>
    <child link="camera_campi_link"/>
  </joint>

</robot>