<?xml version="1.0" ?>
<model>
    <name>Caisse</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Victor Dubois</name>
    </author>
    <description>Caisse of noisette with aruco tags for the 2026 Coupe de France de robotique</description>
</model>
